.contacts-container{
    gap: 10px;
    overflow-y: auto;
}

.contact-item-container:hover{
    background-color: #f6f5f4;
    border-radius: 10px;
}

.contact-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    margin: 0px 10px;
    padding-right: 30px;
}

.avatar-container {
    margin-right: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-name-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    color: #777;
    white-space: nowrap;
    text-overflow: ellipsis;}


.contact-last-connection {
    font-size: 12px;
    color: #888;
    white-space: nowrap;
}