.chat-screen-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100vh;

}

.messages-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px 20px;
    background-color: #ebe7e7;
    width: 100%;
    z-index: 1;
}




.messages-body-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 70px;
}

.messages-body-container::-webkit-scrollbar {
    width: 8px;
}


.messages-body-container::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    opacity: 0.5;
}


.whatsapp-doodle-pattern {
    z-index: -1;
    position: fixed;
    width:65%;

}

.new-message-form-container {
    display: flex;
    width: 65%;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    z-index: 2;
}