.search-bar_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.whatsapp-logotype {
    height: 20px;
}

.search-bar_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin: 0px 10px 10px;
    background-color: #f6f5f4;
    height: 40px;
    gap: 5px;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 15px;
    outline: none;
}

.search-bar_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px 10px;
    gap: 5px;
    flex-wrap: wrap;
}