a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}



.sidebar {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 50px;
    background-color: #f5f5f5;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.top-sidebar-icons,
.bottom-sidebar-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin: 10px 0px;

}


.nav-link-active .sidebar-icon,
.sidebar-icon.active {
    background-color: #eae9e7;
    box-shadow: 0 0 0 4px #e1e1e1;
    color: rgb(37, 37, 37);
}


.sidebar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.tooltip {
    position: absolute;
    left: 60px;
    background-color: black;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 14px;
    z-index: 1;
}

.tooltip-chat {
    top: 18px;
}

.tooltip-status {
    top: 64px;
}

.tooltip-channels {
    top: 105px;
}

.tooltip-communities {
    top: 145px
}

.tooltip-settings {
    bottom: 64px;
}

.tooltip-profile {
    bottom: 18px;
}

.sidebar-item:hover .tooltip {
    opacity: 1;
}

@media (width <=500px) {
    .sidebar {
        flex-direction: row;
        height: 50px;
        width: 100%;
        padding: 20px;
    }

    .top-sidebar-icons,
    .bottom-sidebar-icons {
        flex-direction: row;
        gap: 15px;
        margin: 0;
    }

    .tooltip {
        display: none;
    }
}