.contacts-container {
  width: 30%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contacts-list-scrollable {
  overflow-y: auto;
}

.contacts-list-scrollable::-webkit-scrollbar {
  width: 8px;}

  
.contacts-list-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.contacts-list-scrollable::-webkit-scrollbar-thumb {
  background-color: #cecece; 
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
