@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.primary-button {
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 12px;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    font-size: 14px;
    color: #00000099;
    font-weight: 400;
}
.primary-button:hover{
        background-color: #f6f5f4;

}
.primary-button.active{
    background-color: #d9fdd3   
}

h1{
    font-size: 24px;
    color: #0a0a0a;
    font-weight: 700;   
}
h2{
    font-size: 16px;
    color: #0a0a0a;
    font-weight: 400;   
}
span{
    font-size: 14px;
    color: #00000099;
    font-weight: 400;
}
