.messages-container {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    background-color: transparent;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    word-break: break-word;
}

.message p {
    margin-right: 50px;
}

.message .hora {
    font-size: 10px;
    color: gray;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.message-me {
    align-self: flex-end;
    background-color: #d9fdd3;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);

}

.message-other {
    align-self: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
    
}

.last-connection-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
}   