.messages-container {
    display: flex;
    flex-direction: column;
    background-image: '/images/whatsapp-doodle-pattern.jpg';
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    word-break: break-word;
}

.message p {
    margin: 0;
}

.message .hora {
    font-size: 10px;
    color: gray;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.message-me {
    align-self: flex-end;
    background-color: #d9fdd3;
}

.message-other {
    align-self: flex-start;
    background-color: #ffffff;
    border: 1px solid #ccc;
}